/* VARIABLES */

:root {
  --color-primary: #25a9e0;
  --color-secondary: #1d8cc1;
  --color-accent: #f4b400;
  --color-bg-header: #ffffff;
  --color-bg-body: #e5e8eb;
  --color-text-main: #333333;
  --color-text-muted: #666666;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1.5;
  font-family: system-ui, sans-serif;
  background: #fff;
  color: #000;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}


/* BODY */

body{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

/* MAIN */

.main{
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    background-color: var(--color-bg-body);
}

.icon{
    width: 2rem;
    height: auto;
}

.icon--profile{
    width: 3rem;
    height: auto;
}

.btn button{
    background-color: var(--color-primary);
    border-radius: 16px;
    color: var(--color-bg-header);
    width: 80px;
    height: 24px;
    text-align: center;
    border: none;
}

/* HEADER */

.header{
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    background-color: var(--color-bg-header);
}

.header__top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    gap: 8px;
}

.header__top-searchbar{
    display: flex;
    justify-content: center;
    gap: 16px; 
}

.header__top-user{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px; 
}

.header__top-searchbar-box{
    background-color: var(--color-bg-body);
    border-radius: 16px;
    width: 50rem;
    height: 2rem;
}

/* SIDEBAR */

.sidebar{
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    background-color: var(--color-primary);
}



