/* VARIABLES */

:root {
  --color-primary: #25a9e0;
  --color-secondary: #1d8cc1;
  --color-accent: #f4b400;
  --color-bg-header: #ffffff;
  --color-bg-body: #e5e8eb;
  --color-text-main: #333333;
  --color-text-muted: #666666;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1.5;
  font-family: system-ui, sans-serif;
  background: #fff;
  color: #000;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}


/* BODY */

body{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  width: 100vw;
  height: 100vh;
  margin: 0;
  color: var(--color-text-muted);
}

b{
  color: var(--color-text-main);
}

.icon{
    width: 2rem;
    height: auto;
    justify-content: baseline;
}

.icon--profile{
    width: 3rem;
    height: auto;
}

.btn button{
    background-color: var(--color-primary);
    border-radius: 16px;
    color: var(--color-bg-header);
    width: 80px;
    height: 24px;
    text-align: center;
    border: none;
}

/* MAIN */

.main{
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    background-color: var(--color-bg-body);

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: stretch;
    padding: 16px;
    gap: 16px;
}

.main__project{
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.main__project b{
  padding-bottom: 8px;
}

.main__card-container{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 8px;
  width: 100%;
  height: 100%;
}

.main__project-card{
  background-color: var(--color-bg-header);
  border-radius: 8px;
  border-left: 15px solid var(--color-accent);
  font-size: small;
  padding: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main__project-card b{
  font-size: medium;
}

.main__card-icon{
  display: flex;
  justify-content: end;
  align-items: end;
}

.main__announcement{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.main__trending{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.main__announcement-container{
  background-color: var(--color-bg-header);
  padding: 16px;
  font-size: small;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);

  display: flex;
  gap: 8px;
  flex-direction: column;
}

.main__announcement span{
  margin-inline: auto;
  width: 100%;
  height: 1px;
  background-color: var(--color-text-muted);
}

.main__trending-container{
  background-color: var(--color-bg-header);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .15);

  display: flex;
  flex-direction: column;
  gap: 8px;
  align-self: stretch;
  justify-self: stretch;

}

.main__trending-one,
.main__trending-two,
.main__trending-three,
.main__trending-four{
  display: flex;
  font-size: small;
  align-items: center;
}

.main__trending-icon img{
  min-width: 3rem;
  min-height: 3rem;
  object-fit: cover; 
  border-radius: 50%; 
  display: block;
}

.main__trending-icon{
  margin-block: auto;
}

/* HEADER */

.header{
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    background-color: var(--color-bg-header);
}

.header__top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    gap: 8px;
}

.header__top-searchbar{
    display: flex;
    justify-content: center;
    gap: 16px; 
}

.header__top-user{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px; 
}

.header__top-searchbar-box{
    background-color: var(--color-bg-body);
    border-radius: 8px;
    width: 50rem;
    height: 2rem;
}

.header__bottom{
  display: flex;
  justify-content: space-around;
}

.header__bottom-one{
  display: flex;
  grid-area: 8px;
}

.header__bottom-two{
  display: flex;
  gap: 8px;
  align-items: center;
}

.header__bottom-profile-pic img{
  width: 5rem;
  height: auto;
  align-items: center;
}

/* SIDEBAR */

.sidebar{
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    background-color: var(--color-primary);

    color: var(--color-bg-header);
    font-weight: 700;
    padding: 16px;
}

.sidebar__title{
  padding-bottom: 32px;
  font-size: large;
}

.sidebar__content img{
  color: white;
}

.sidebar__content{
  padding-bottom: 32px;
}


